{% extends 'back-office/base.html.twig' %}

{% block title %}Modifier un Article
{% endblock %}

{% block body %}
<div class="container-fluid center mb-5" style="max-width: 60rem;">
	<div class="row justify-content-center features-section m-4">
		<div class="img-fluid">
			<h1 class="text-center text-muted fw-bold mb-4">Modifier un article</h1>

				{{ form_start(form) }}

				<div class="mb-3">
					{{ form_label(form.title, 'Titre') }}
					{{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
				</div>

				<div class="mb-3">
					{{ form_label(form.content, 'Contenu') }}
					{{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
				</div>

				<div class="mb-3">
					{{ form_label(form.subtitle, 'Sous-titre') }}
					{{ form_widget(form.subtitle, {'attr': {'class': 'form-control'}}) }}
				</div>

				<div class="mb-3">
					{{ form_label(form.category, 'Sélectionnez une catégorie') }}
					{{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
				</div>

				<div class="mb-3" >
					{{ form_label(form.pictureFile, 'Image de l\'article, Une URL en http:// ou https://') }}
					{{ form_widget(form.pictureFile, {'attr': {'class': 'form-control img-fluid'}}) }}
				
					<img src="{{ vich_uploader_asset(article, 'pictureFile') }}" alt="{{ article.title }}" class="card-img-top img-thumbnail" />
				</div>

				<div class="section-btn mt-3">
					<button type="submit" class="btn btn-rounded btn-quiz" data-mdb-ripple-init data-mdb-ripple-color="white">Modifier</button>
				</div>
				{{ form_end(form) }}   
		</div>
	</div>
</div<
{% endblock %}
