{% extends 'back-office/base.html.twig' %}

{% block title %}
  Liste des articles
{% endblock %}

{% block body %}
  <div class="container center mb-5" style="max-width: 30rem;">
    <section class="features-section px-1 mb-4">
      <div class="container-fluid mx-auto">
        <h2 class="section-title text-center mb-8">Liste des articles</h2>

        <table class="container-fluid table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Titre</th>
              <th scope="col">Date</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            {% for article in pagination %}
              <tr class="table-group-divider py-1">
                <td class="section mb-3">{{ article.title }}</td>
                <td class="text-secondary mb-3">{{ article.getCreatedAt|date('d-m-Y') }}</td>
                <td>
                  <a href="{{ path('app_back_articles_edit', { id: article.id }) }}" class="btn btn-rounded btn-quiz bi bi-pencil m-2"></a>
                  {% include 'fragments/_confirm_action.html.twig' with { confirmationMessage: 'Voulez-vous vraiment supprimer ?', actionUrl: path('app_back_articles_delete', { id: article.id }), buttonLabel: '' } %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="pagination mx-auto ms-2">{{ knp_pagination_render(pagination) }}</div>
        <a type="button" class="btn btn-rounded btn-quiz ms-2" data-mdb-ripple-init data-mdb-ripple-color="dark" href="{{ path('app_back_articles_add') }}">Ajouter un nouvel article</a>
      </div>
    </section>
  </div>
{% endblock %}
