<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>
			{% block title %}
				Coffe Lover
			{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('favicone.png') }}" type="image/png"/>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"/>
		{% block stylesheets %}
			<link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
			<link href="{{ asset('css/search.css') }}" rel="stylesheet"/>
			<link href="{{ asset('css/search-mobile.css') }}" rel="stylesheet"/>
		{% endblock %}
	</head>
	<body>
		<div class="card text-bg-dark rounded-0">
			<img src="{{ cdn_base_url }}zhqKfMm/bannerV2.png" id="banner" class="img-fluid h-auto w-auto" alt="Banner"/>
			<div class="card-img-overlay d-none d-lg-block">
				<h5 class="card-title text-center fs-1 fw-bolder" id="Coffee Lover">Coffee Lover</h5>
			</div>

			{# search form for mobile device #}


			<div class="card-img-overlay d-none d-lg-block">
				<h5 class="card-title text-center fs-1 fw-bolder">Coffee Lover</h5>
			</div>
		</div>

		{% include "fragments/_search_mobile.html.twig" %}

		<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top ">
			<div class="container-fluid">
				<button class="navbar-toggler btn-outline" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="bi bi-list" style="font-size: 2rem"></span>
				</button>
				{# For mobile device #}
				<div class="d-flex d-lg-none">

					<div class="dropdown-center">
						{% if app.user %}
							<button class="bi bi-person-fill dropdown-toggle nav-link" style="font-size: 2rem" id="navbarDropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
							<ul class="dropdown-menu dropdown-menu-end">
								<li>
									<a class="dropdown-item" href="{{ path('app_profil') }}">Profil</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path('app_security_logout') }}">Déconnexion</a>
								</li>
								{% if 'ROLE_MANAGER' in app.user.roles or 'ROLE_ADMIN' in app.user.roles %}
									<div class="dropdown-divider"></div>
									<li>
										<a class="dropdown-item" href="{{ path('app_back_office') }}">Backoffice</a>
									</li>
								{% endif %}

							</ul>
						{% else %}
							<a class="bi bi-person-fill nav-link" style="font-size: 2rem" id="navbarDropdown" href="{{ path('app_security_login') }}"></a>
						{% endif %}
					</div>
				</div>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<div class="d-flex d-lg-none">
							<div class="me-3">
								<a class="nav-link" href="{{ path('app_home') }}">Accueil</a>
							</div>
						</div>
						<li class="nav-item d-none d-lg-block">
							<a href="{{ path('app_home') }}"><img src="{{ asset('logo.png') }}" alt="logo" title="accueil" id="logo"/></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_back_users') }}">Utilisateurs</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_back_articles') }}">Articles</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_back_quiz') }}">Quiz</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_back_reward') }}">Récompenses</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_back_gif') }}">GIFs/Musiques</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_back_office') }}">Backoffice</a>
						</li>
					</ul>
					{# search form for desktop device #}
					<form class="d-none d-lg-flex form-inline ms-auto me-4" id="search-form">
						<input class="form-control" type="search" placeholder="Search" aria-label="Search" id="searchTerm" class="bi bi-search"/>
					</form>
					<div class="d-none d-lg-flex">
						<div class="me-3">
							<a class="nav-link" href="{{ path('app_security_logout') }}">Déconnexion</a>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<div id="scroll-point" class="my-4">{{ '<br>'|raw }}</div>
		{% include 'fragments/_flash_message.html.twig' %}
		{% block body %}{% endblock %}

		<footer class="footer container-fluid py-8 border-top text-center">
			<span class="text-white">
				<div class="container p-4 pb-4">
					<section class="mb-4">
						<a class="btn btn-outline-light btn-floating m-1" href="!" role="button">
							<i class="bi bi-facebook"></i>
						</a>
						<a class="btn btn-outline-light btn-floating m-1" href="!" role="button">
							<i class="bi bi-twitter-x"></i>
						</a>
						<a class="btn btn-outline-light btn-floating m-1" href="!" role="button">
							<i class="bi bi-linkedin"></i>
						</a>
						<a class="btn btn-outline-light btn-floating m-1" href="!" role="button">
							<i class="bi bi-share-fill"></i>
						</a>
						<a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
							<i class="bi bi-github"></i>
						</a>
					</section>
					<a class="text-white" href="{{ path('app_mention_legal') }}">Mentions légales</a>
					|
					<a class="text-white" href="{{ path('app_contact') }}">Qui sommes-nous</a>

				</div>
			</span>
		</footer>
		<script src="{{ asset('js/search.js') }}"></script>
		<script src="{{ asset('js/search-animate.js') }}"></script>
		<script src="{{ asset('js/scroll.js') }}"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	</body>
</html>
